In [1]:
import requests
import pandas as pd

In [2]:
response=requests.get('https://api.themoviedb.org/3/movie/popular?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=10').json()

In [6]:
popularity=[]
vote_count=[]
overview=[]
title=[]
vote_avg=[]
original_language=[]
release_date=[]
for i in response['results']:
    popularity.append(i['popularity'])
    vote_count.append(i['vote_count'])
    overview.append(i['overview'])
    title.append(i['title'])
    vote_avg.append(i['vote_average'])
    release_date.append(i['release_date'])
    original_language.append(i['original_language'])
d={'title':title ,'overview':overview , 'original_language':original_language , 'release_date':release_date ,'popularity':popularity , 'vote_count':vote_count , 'vote_avg':vote_avg}
df=pd.DataFrame(d)

In [10]:
final=pd.DataFrame()
for j in range(1,501):
    response=requests.get('https://api.themoviedb.org/3/movie/popular?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={}'.format(j)).json()
    popularity=[]
    vote_count=[]
    overview=[]
    title=[]
    vote_avg=[]
    original_language=[]
    for i in response['results']:
        popularity.append(i['popularity'])
        vote_count.append(i['vote_count'])
        overview.append(i['overview'])
        title.append(i['title'])
        vote_avg.append(i['vote_average'])
        original_language.append(i['original_language'])
    d={'title':title ,'overview':overview , 'original_language':original_language  ,'popularity':popularity , 'vote_count':vote_count , 'vote_avg':vote_avg}
    df=pd.DataFrame(d)
    
    final=final.append(df,ignore_index=True)

In [12]:
final.to_csv('movies.csv')

In [13]:
movie=pd.read_csv('movies.csv')

In [14]:
movie

,Unnamed: 0,title,overview,original_language,popularity,vote_count,vote_avg
0,0,Ad Astra,"The near future, a time when both hope and har...",en,453.361,2875,5.9
1,1,Bad Boys for Life,Marcus and Mike are forced to confront new thr...,en,315.622,2653,7.1
2,2,Bloodshot,"After he and his wife are murdered, marine Ray...",en,241.513,1419,7.2
3,3,Birds of Prey (and the Fantabulous Emancipatio...,"Harley Quinn joins forces with a singer, an as...",en,209.518,2717,7.1
4,4,Sonic the Hedgehog,Based on the global blockbuster videogame fran...,en,192.374,2130,7.4
...,...,...,...,...,...,...,...
9995,9995,Aparajito,The Unvanquished is the second part of the Ban...,bn,8.559,102,8.1
9996,9996,Beanpole,Set in post-WWII Leningrad as two female soldi...,ru,8.558,76,7.6
9997,9997,The Solitude of Prime Numbers,Prime numbers are divisible only by one and th...,it,8.558,272,5.8
9998,9998,Antares,A deadly car crash sets off three parallel sto...,de,8.558,24,6.3
9999,9999,Feminists: What Were They Thinking?,"In 1977, a book of photographs captured an awa...",en,8.556,55,8.0